* {
  box-sizing: border-box;
}

.u-body {
  margin: 0;
  color: #fdf9f8;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: relative;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.74rem;
  line-height: 1.3rem;
  margin-top: 0px;
  margin-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: hsl(0, 0%, 95%);
}

.rounded-circle {
  border-radius: 50%;
}

.u-section > h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 2rem;
}

.u-section > a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 95%);
}

.u-section > a:hover {
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  background-color: transparent;
}

.u-main {
  width: 55%;
  margin: 6.2rem 0;
  display: flex;
  flex-flow: row wrap;
}

.u-section {
  padding: 2.6rem;
  flex: 1 33.33%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.rounded-u-btn1 {
  border-radius: 2rem;
}

.flexbox1 {
  background-color: hsl(31, 77%, 52%);
}

.flexbox1 > a {
  color: hsl(31, 77%, 52%);
}

.flexbox2 {
  background-color: hsl(184, 100%, 22%);
}

.flexbox2 > a {
  color: hsl(184, 100%, 22%);
}

.flexbox3 {
  background-color: hsl(179, 100%, 13%);
}

.flexbox3 > a {
  color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 767px) {
  .u-main {
    width: 90%;
    margin: 3.2rem 0;
  }

  .u-section {
    flex: 1 100%;
    border-radius: 2rem;
  }
}

@media only screen and (min-width: 847px) and (max-width: 1440px) {
  .rad-ppty-start {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .rad-ppty-end {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
}
.grid-link {
  bottom: 30px;
  left: 30px;
  background-color: hsla(217, 92%, 16%, 0.5);
  box-shadow: 0 0 0.3em hsl(0, 0%, 95%);
  height: 75px;
  width: 75px;
  position: fixed;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  color: white;
  background-color: hsl(235, 92, 92, 0);
  bottom: 14px;
  left: 10px;
  box-shadow: 0 0 0.3em hsla(0, 0);
}
a.grid_link {
  bottom: 80px;
}

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");
